.container {
	table {
		width: 100%;
	}
}

.el-table--small th,
.el-table--small td {
	padding: 5px 0;
}

.el-table--medium th,
.el-table--medium td {
	padding: 5px 0;
}

.el-table {

	th,
	td {
		&.is-center {
			justify-content: center;
			text-align: center;
		}

	}

	.el-table__row {

		.el-table__cell {

			&.dashs-icons {
				.cell {
					padding-top: 5px;
				}
			}
		}

		&.danger-row {
			// background: $--color-danger;
			background: var(--el-color-danger-light-9);
		}

		&.warning-row {
			background: var(--el-color-warning-light-9);
		}

		&.success-row {
			background: var(--el-color-success-light-9);
		}

		&.primary-row {
			background: transparent;
		}

	}

}